---
---
// Site specific settings

$gray: #7F7979;
$white: #fff;
$black: #222;

$primary-color: #FFAC38;
$secondary-color: #4E1C39;
$accent-color: #FC2366;
$alt-color-1: #F46966;
$alt-color-2: #392033;

$text-color: $black;

$main-font: 'Arial';

$title-font-lg: 'IBM Plex Sans';
$title-font-sm: 'Muli';

$block-font: 'Montserrat';

// Vendor
@import 'breakpoint';

// Core styles
@import 'base';
@import 'rational-grid';
@import 'layout';
@import 'typography';
@import 'components';