.button {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: rgba($black, .1);
    cursor: pointer;
    padding: 15px 20px;
    margin: 2px;
    text-decoration: none;

    @extend .transition;

    &:hover {
        text-decoration: none;
        @extend .transition;
        background-color: rgba($black, .2);
    }

    i {
        margin-left: 15px;
        vertical-align: middle;
        float: right;
    }
}

.top-bar {
    background-color: $primary-color;
    @extend .clearfix;
    text-align: center;
    height: 120px;
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0);
    padding: 10px 0;
    align-items: center;
    justify-content: center;

    &--shaded {
        background-color: rgba(black, .2);
    }

    &__button {
        // @extend .material-icons;
        color: rgba($white, .5);
        padding: 12px 15px;
        cursor: pointer;

        &--padding-lg {
            padding: 40px;
        }

        &--hidden {
            visibility: hidden;
        }

        &:hover {
            color: rgba($white, 1);
        }
    }

    &__logo {
        flex: 1;
        padding: 8px;
        margin: 0;
        display: inline-block;
        height: 100%;
    }

    &__logo img {
        height: 100%;
    }
}

#menu {
    width: 320px;
    height: 100%;
    position: fixed;
    top: 0;
    background: $black;
    z-index: 10004;
    color: $white;

    &.right {
        right: -320px;
        @extend .transition;
        &.open {
            @extend .transition;
            right: 0;
        }
    }
}

#menu-button {
    font-size: 30px;
    @extend .transition;
    &.open {
        @extend .transition;
        transform: rotate(90deg);
    }
}

body {
    @extend .transition;
    overflow-x: hidden;
    position: relative;
    left: 0;
    &.open {
        @extend .transition;
        left: -320px;
    }
}

.footer {
    background-color: $gray;
    color: $white;
    padding-top: 1px;
    padding-bottom: 10px;
    font-size: 16px;
    padding: 45px 0;

    &__content {

        @include breakpoint(small only) { text-align: center; }

        h2 {
            margin: 0 0 20px;
            font-weight: 600;
            text-transform: uppercase;
            color: $white;
            text-align: left;
            font-size: 1.3rem;
        }
    }
}


#overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: none;
  opacity: .7;
}
